body {
    background: #F5F8FA;
}

.navbar{
    border-bottom: 1px solid #D3E0E9;
    font-color: #777777;
}
.card {

    border-color: #D3E0E9;
}

.card-header {
    background-color: #fff;
}

.card-body {
    border: 1px;
}
